{% extends 'base.html' %} {% block title %} Home {% endblock title %} {% block body %}

<!--cart section-->
<div class="hero-image1">
    <div class="hero-text1">
        <h2 class="breadcrumbs text-white display-3" style="font-family: 'Amatic SC', cursive; font-weight: bolder;">
            <span class="mr-2">Precision Agriculture Using Machine Learning</span>
        </h2>
        <p class="mb-0 bread font-weight-bold">
            Get information details about your Farming Strategy
        </p>
        <br />
        <p><a href="" class="btn view rounded-pill">View Details</a></p>
    </div>
</div>
<!--/cart section-->
<br />

<!--about us-->
<section>
    <div class="container">
        <h1 class="text-center text-capitalize pt-5" style="font-family: 'Arima Madurai', cursive;">About us</h1>
        <hr class="w-25 mx-auto" />

        <div class="row mb-5">
            <div class="col-lg-6 col-md-6 col-12">
                <!-- <img src="{{ url_for('static', filename='images/3.jpeg') }}" class="img-fluid w-100" /> -->
                <figure class="snip1256">
                    <img src="{{ url_for('static', filename='images/3.jpeg') }}" alt="sample42" />
                    <figcaption>
                        <h3>Hope You Like It......</h3>
                        <h4 class="mt-4 mb-4">Precision Agriculture Using Machine Learning</h4><a href="#" class="read-more">Read More</a>
                    </figcaption>
                </figure>
            </div>

            <div class="col-lg-6" style="font-family: 'Arima Madurai', cursive;">
                <h3 class="mt-4">
                    Improving Agriculture, Improving Lives, Cultivating Crops To Make Farmers Increase Profit.
                </h3>
                <p class="mt-3" style="line-height: 1.6">
                    We use state-of-the-art machine learning and deep learning technologies to help you guide through the entire farming process. Make informed decisions to understand the demographics of your area, understand the factors that affect your crop and keep them
                    healthy for a super awesome successful yield.
                </p>
            </div>
        </div>
    </div>
</section>
<!--about us end-->

<!--service part-->
<section>
    <div class="container">
        <h1 class="text-center text-capitalize pt-5" style="font-family: 'Arima Madurai', cursive;">Our services</h1>
        <hr class="w-25 mx-auto" />

        <div class="row text-center mb-5 p-3">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="card bg-dark text-white card1" style="font-family: 'Arima Madurai', cursive;">
                    <img class="card-img-top" src="{{url_for('static', filename='images/a.jpg')}}" alt="Card image" />
                    <div class="card-body">
                        <h4 class="card-title">Crop</h4>
                        <p class="card-text">Recommendation about the type of crops to be cultivated which is best suited for the respective conditions.</p>
                        <p><a href="{{ url_for('crop_recommend') }}" class="btn view rounded-pill">View Details</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-12">
                <div class="card bg-dark text-white card1" style="font-family: 'Arima Madurai', cursive;">
                    <img class="card-img-top" src="{{ url_for('static', filename='images/c.jpg') }}" alt="Card image" />
                    <div class="card-body">
                        <h4 class="card-title">Fertilizer</h4>
                        <p class="card-text">Recommendation about the type of fertilizer best suited for the particular soil and the recommended crop</p>
                        <p><a href="{{ url_for('fertilizer_recommendation') }}" class="btn view rounded-pill">View Details</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-12">
                <div class="card bg-dark text-white card1" style="font-family: 'Arima Madurai', cursive;">
                    <img class="card-img-top" src="{{ url_for('static', filename='images/b.jpg') }}" alt="Card image" />
                    <div class="card-body">
                        <h4 class="card-title">Crop Disease</h4>
                        <p class="card-text">Predicting the name and causes of crop disease and suggestions to cure it
                        </p>
                        <p><a href="{{ url_for('disease_prediction') }}" class="btn view rounded-pill">View Details</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--services end-->



<!-- footer section start-->

<footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 bg-dark text-light p-2" style="background-image: url(https://images.pexels.com/photos/5980/food-sunset-love-field.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);background-size: cover; height: 100px; background-position: center; position:center; font-family: 'Arima Madurai', cursive;">
        <h5> © 2021 Copyright: Precision Agriculture Using Machine Learning & IOT
            <div class="text-center text-white text-uppercase font-weight-bold">Go Green....</div>
        </h5>
    </div>

    <!-- Copyright -->
</footer>

<!-- footer section end -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


{% endblock body %}